@import "./colors.scss";

h1 {
  margin: 0;
  padding: 0;
}

.time-count {
  z-index: 10;
  display: block;
  position: absolute;
  background: linear-gradient(180deg, $softRed 50%, $softRed2 50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  width: 60px;
  height: 57px;
  line-height: 57px;
  @media screen and (min-width: 420px) {
    font-size: 3.5rem;
    width: 90px;
    height: 85px;
    line-height: 85px;
  }
  @media screen and (min-width: 630px) {
    font-size: 5rem;
    width: 130px;
    height: 120px;
    line-height: 120px;
  }
  &.bottom {
    transform: translateY(-50%);
  }
}

.time-count-name {
  color: $whiteTransparent;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 0.75rem;
  font-family: "Red Hat Text", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  @media screen and (min-width: 420px) {
    font-size: 0.875rem;
  }
}
