$grayBlue: hsl(236, 14%, 54%);
$softRed: #d7516f;
$softRed2: #f95d83;
$white: hsl(0, 0%, 100%);
$whiteTransparent: rgba(255, 255, 255, 0.6);
$darkBlue: #34364f;
$darkBlue2: #2c2c44;
$darkBlue3: hsl(234, 17%, 12%);
$bgStart: #261e2f;
$bgEnd: #191a24;
