/* Colors */
$grayBlue: hsl(236, 14%, 54%);
$softRed: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$darkBlue: hsl(236, 22%, 30%);
$darkBlue2: hsl(235, 16%, 14%);
$darkBlue3: hsl(234, 17%, 12%);
$bgStart: #261e2f;
$bgEnd: #191a24;

/* Some default styles */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $grayBlue;
  user-select: none;
}

h1 {
  margin: 0;
  padding: 0;
}

/* Background */
.background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  background: linear-gradient(0deg, $bgStart, $bgEnd);
  z-index: 1;
}

.hills {
  position: absolute;
  bottom: 0;
  right: -230px;
  height: 200px;
  z-index: 2;

  /* Move hills more to center on bigger screens */
  @media screen and (min-width: 768px) {
    right: 0;
  }

  /* Automatic scaling after 1280px */
  @media screen and (min-width: 1280px) {
    width: 100%;
    height: auto;
    max-height: 40%;
  }
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  animation: flying-stars 10s infinite linear;

  // Copy for flying stars animation
  &.copy {
    left: -100vw;
  }
}

/* Stars animation */
@keyframes flying-stars {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

/* End of background */

/* Header */
.title-container {
  margin-top: 15vh;
  position: relative;
  z-index: 3;
  .title {
    color: $white;
    font-size: 1.875rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 700;
    letter-spacing: 0.2rem;
  }
}
/* End of header */

/* Flipping cards */

.cards-container {
  margin: auto;
  margin-top: 10vh;
  position: relative;
  z-index: 3;
  width: 800px;
  /* border: 2px solid green; */
}

.card-placeholder {
  position: relative;
  width: 130px;
  height: 130px;
}

.card {
  width: 100%;
  height: 100%;
  transform-origin: center;
  z-index: 11;
  position: relative;
}

.card-top {
  z-index: 5;
}

.card-bottom {
  z-index: 4;
}

.card-top,
.card-bottom {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
  /* border: 2px solid red; */
}

/* Cards filled with box shadow to provide scooped corners */

.card-top:after,
.card-top:before,
.card-bottom:after,
.card-bottom:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 99px;
  /* border: 1px solid green; */
  position: absolute;
  transform: translate(50%, -50%);
}

.card-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  &:after {
    right: 100%;
    top: 100%;
  }
  &:before {
    right: 0%;
    top: 100%;
  }
  &:after,
  &:before {
    box-shadow: 5px -5px 0px 80px $darkBlue, 5px -50px 0px 80px $darkBlue;
  }
  &.static {
    position: absolute;
    top: 0;
    z-index: 10;
  }
}

.card-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  &:after {
    right: 0%;
    top: 0%;
  }
  &:before {
    right: 100%;
    top: 0%;
  }
  &:after,
  &:before {
    box-shadow: 5px 5px 0px 80px $grayBlue, 5px 50px 0px 80px $grayBlue;
  }
  &.static {
    position: absolute;
    bottom: 0;
    z-index: 10;
  }
}

/* Card perspective */
// Multiple transform phase classes for smooth rotation an number switching
.near-home {
  transform: perspective(300px) rotateX(-10deg);
}

.middle {
  transform: perspective(300px) rotateX(-90deg);
}

.reversed-middle {
  transform: perspective(300px) rotateX(90deg);
}

.near-end {
  transform: perspective(300px) rotateX(10deg);
}

.transition-type {
  transition: 0.2s all linear, 0s color linear;
}

/* End of cards */

.days {
  z-index: 10;
  display: block;
  position: relative;
  color: $softRed;
  text-align: center;
}
